html {
  margin: 100;
  padding: 100;
}
body {
  background-color: salmon;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}
h1 {
  text-align: center;
  font-size: 32pt;
}
p.flashy  {
color: blue;
font-style: italic;
}
p.best {
  color: darkslateblue;
  font-weight: 900;
  font-size: 14pt;
  text-align: center;
}
.cupcake {
  width: 120px;
  display: block;
  margin: auto;
}
.cupcake2 {
  width: 70px;
  float: left;
  margin-right: 2%;
}
.box0 {
  width: 50%;
  height: auto;
  background-color: white;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 3%;
  border: 1px solid black;
  padding: 1px;
  
}
.box1 {
  width: 500px;
  height: auto;
  background-color:white;
  padding: 3px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-left: 4px; 
}
.column {
  width: 300px;
  float: left;
  margin: 3%;
  display: block;
}
.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  display: block;
}

.grid-container { 
  display: grid;
  grid-template-columns: 350px 500px;
  grid-gap: -5px;
  grid-area: auto;
}
